BaseURL="https://api.jikan.moe/v4"
PathHome="/seasons/upcoming"
PathMovie="/anime?type=movie&status=upcoming"
PathSearch="/anime?q="
PathDetail="/anime/:id/full"
NODE_ENV="dev"

NEXT_PUBLIC_BaseURL="https://api.jikan.moe/v4"
NEXT_PUBLIC_PathHome="/seasons/upcoming"
NEXT_PUBLIC_PathMovie="/anime?type=movie&status=upcoming"
NEXT_PUBLIC_PathSearch="/anime?q="
NEXT_PUBLIC_PathDetail="/anime/:id/full"
NEXT_PUBLIC_NODE_ENV="dev"